.box-busca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white; 
    
} 

.busca-search-input::placeholder{
    color: white;
    opacity: 0.6;
}
.busca-search-input::-webkit-input-placeholder{
    color: white;
}
.busca-search-input::-moz-placeholder{
    color: white;
}
.busca-search-input::-ms-input-placeholder{
    color: white;
} 
.Busca-search form{
    display: flex;
    border-radius: 50px;
    background-color: darkred;
    height: 45px; 
} 
.Busca-search:hover .busca-search-input{
    padding-left: 2em;
    padding-right: 1em;
    width: 100px;
}
.busca-search-input{
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
/*Interação do botão ao pesquisar*/ 
.Busca-search-btn{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: .3s;
} 

.Busca-search-btn:active{
    transform: scale(.85);
}
.Search-icone{
    display: flex;
    float: left;
    width: 50px; 
    height: 30px;
    justify-content: center;
}

.Search-icone > i{
    display: flexbox;
    float: left;
    clear: left;
    position: relative;
    margin-top: -30px;
} 
 
.Search-icone{
    margin: auto;
    color:  white;
} 

@media screen and (min-width: 400px){
    .Busca-search:hover .busca-search-input{
        width: 360px;
    }
}
    
